@model PagedList<ProviderMenuTRow>
<div class="my-3 table-responsive">
    <table class="table">

        <colgroup>
            <col span="1" style="width: 6%;">
            <col span="1" style="width: 29%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 15%;">
        </colgroup>

        <thead class="table-head align-middle">
            <tr>
                <td class="text-center">Stop Notification</td>
                <td>Provider Name</td>
                <td>Role</td>
                <td>OnCall Status</td>
                <td>Status</td>
                <td>Actions</td>
            </tr>
        </thead>

        <tbody>

            @foreach (var physician in Model)
            {
                <tr>
                    <td class="align-middle">

                        @if (physician.IsNotificationStopped)
                        {
                            <input onchange="toggleStopNotification(@physician.PhysicianId)" checked type="checkbox" />
                        }
                        else
                        {
                            <input onchange="toggleStopNotification(@physician.PhysicianId)" type="checkbox" />
                        }
                    </td>

                    <td>
                        @physician.PhysicianName
                    </td>
                    <td>
                        @physician.Role
                    </td>
                    <td>
                        @physician.OnCallStatus
                    </td>
                    <td>
                        @physician.Status
                    </td>
                    <td>
                        <button class="btn btn-outline-info contact-provider-btn" data-physician-id="@physician.PhysicianId">Contact</button>
                        <a class="btn btn-outline-info" asp-controller="Admin" asp-action="EditPhysicianAccount" asp-route-physicianId="@physician.PhysicianId">Edit</a>
                    </td>
                </tr>
            }

        </tbody>

    </table>

</div>



<script>

    $('.contact-provider-btn').click(function () {
        var phyId = $(this).data("physician-id");

        $.ajax({
            url: "/Admin/ContactYourProviderModal",
            data: { physicianId: phyId },
            type: 'GET',
            success: function (result) {
                $('#modal-div').html(result);
                $('#contactYourProviderModal').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request')
            },
        });
    });
</script>


<script>

    function toggleStopNotification(phyId) {

        $.ajax({
            url: "/Admin/StopNotification",
            data: { physicianId: phyId },
            type: 'POST',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request')
            },
        });

    }

</script>


<script>

    function stopNotification(physicianId) {
        $.ajax({
            url: "/Admin/StopNotification",
            data: { PhysicianId: physicianId },
            type: 'POST',
            success: function (result) {

            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request')
            },
        });
    }

</script>
