@model PagedList<RequestShiftTRow>;
<table class="table table-responsive">
    <thead>
        <tr class="table-secondary">
            <td></td>
            <td>Staff</td>
            <td>Day</td>
            <td>Time</td>
            <td>Region</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input class="check" value="@item.ShiftDetailId" type="checkbox" />
                </td>
                <td>@item.Staff</td>
                <td>@item.ShiftDate.ToString("MMM dd, yyyy")</td>
                <td>@item.ShiftStartTime - @item.ShiftEndTime</td>
                <td>@item.RegionName</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination d-flex justify-content-center align-content-center mt-3">

    @if (Model.HasPrevious)
    {
        <button class="border-0 mx-1 page-item" onclick="loadRequestShiftTable(1)">❮❮</button>
        <button class="page-item mx-1 border-0" onclick="loadRequestShiftTable(@(Model.CurrentPage-1))">❮</button>
    }
    else
    {
        <button disabled class="disabled border-0 mx-1 page-item">❮❮</button>
        <button disabled class="disabled page-item mx-1 border-0">❮</button>
    }

    <button class="page-item mx-1 active border-0">@Model.CurrentPage</button>

    @if (Model.HasNext)
    {
        <button class="page-item mx-1 border-0" onclick="loadRequestShiftTable(@(Model.CurrentPage+1))">❯</button>
        <button class="page-item mx-1 border-0" onclick="loadRequestShiftTable(@Model.TotalPages)">❯❯</button>
    }
    else
    {
        <button disabled class="page-item disabled mx-1 border-0">❯</button>
        <button disabled class="page-item disabled mx-1 border-0">❯❯</button>
    }

</div>
