@model PagedList<Patient>
<div class="table-responsive">

    <table class="table">

        <thead class="table-head align-middle">
            <tr>
                <th>Patient ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Disease</th>
                <th>Doctor</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody class="table-body align-middle">

            @foreach (Patient patient in Model)
            {
                <tr>
                    <td>@patient.PatientId</td>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.Email</td>
                    <td>@patient.Age</td>
                    <td>@patient.PhoneNo</td>
                    <td>@patient.Gender</td>
                    <td>@patient.Disease</td>
                    <td>@patient.Specialist</td>
                    <td>
                        <div class="d-flex">
                            <button class="btn bg-info text-white edit-patient-btn"
                                    data-patientid="@patient.PatientId"
                                    data-firstname="@patient.FirstName"
                                    data-lastname="@patient.LastName"
                                    data-email="@patient.Email"
                                    data-age="@patient.Age"
                                    data-phoneno="@patient.PhoneNo"
                                    data-disease="@patient.Disease"
                                    data-specialist="@patient.Specialist">
                                Edit
                            </button>
                            <button class="btn bg-danger text-white ms-2 delete-patient-btn" data-patientid="@patient.PatientId">Delete</button>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>

<div class="pagination d-flex justify-content-end align-content-center">

    <div class="d-flex">
        <span>Rows per page: </span>

            <select id="pagination-page-size" asp-for="PageSize" class="shadow-none bg-transparent">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>

            </select>

    </div>

    @{
        int startCount = (Model.CurrentPage - 1) * Model.PageSize + 1;
        int endCount = startCount + Model.PageSize - 1;

        if (endCount > Model.TotalCount)
        {
            endCount = Model.TotalCount;
        }
    }

    <span>@startCount - @endCount of @Model.TotalCount</span>

    @if (Model.hasPrevious)
    {
        <button class="page-item mx-1 border-0" onclick="loadPartialTable(@(Model.CurrentPage-1))">❮</button>
    }
    else
    {
        <button disabled class="disabled page-item mx-1 border-0">❮</button>
    }

    @if (Model.hasNext)
    {
        <button class="page-item mx-1 border-0" onclick="loadPartialTable(@(Model.CurrentPage+1))">❯</button>
    }
    else
    {
        <button disabled class="page-item disabled mx-1 border-0">❯</button>
    }

</div>

<script>

    $('#pagination-page-size').change(function () {
        page_size = $(this).val();
        loadPartialTable(1);
    });


    $('.edit-patient-btn').click(function () {
        let patientId = $(this).data("patientid");

        $.ajax({
            url: "/Home/LoadEditPatientModal",
            data: { patientId: patientId },
            type: 'GET',
            success: function (result) {
                $('#modal-div').html(result);
                $('#addPatientModal').modal('show');
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Data')
            },
        });
    });

    $('.delete-patient-btn').click(function () {
        let patientId = $(this).data("patientid");

        $.ajax({
            url: "/Home/DeletePatient",
            data: { patientId: patientId },
            type: 'GET',
            success: function (result) {
                if (result) {
                    location.reload();
                }
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Data')
            },
        });
    });

</script>