@model IEnumerable<UserAccessTRow>?

@if (Model != null)
{

    <div class="w-100 d-none d-md-block my-3 table-responsive">
        <table class="table table-hover " style="height:75px; text-align:match-parent">
            <thead class="">
                <tr class="table-secondary">
                    <th class="text-dark">Account Type</th>
                    <th class="text-dark">Account POC</th>
                    <th class="text-dark">Phone</th>
                    <th class="text-dark">Status</th>
                    <th class="text-dark">Open Requests</th>
                    <th class="text-dark">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>

                        <td>
                            @role.AccountType
                        </td>
                        <td>
                            @role.AccountPOC
                        </td>
                        <td>
                            @role.Phone
                        </td>
                        <td>
                            @role.Status
                        </td>
                        <td>
                            @role.OpenRequests
                        </td>
                        @if (role.AccountTypeId == 1)
                        {
                            <td>
                                <a class="btn btn-outline-info " asp-controller="Admin" asp-action="EditAdminAccount" asp-route-adminAspId="@role.AspnetUserId">Edit</a>
                            </td>
                        }
                        else if (role.AccountTypeId == 2)
                        {
                            <td>
                                <a class="btn btn-outline-info " asp-controller="Admin" asp-action="EditPhysicianAccount" asp-route-phyAspId="@role.AspnetUserId">Edit</a>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <h3>No user data</h3>
}