@model ShiftWeekViewModel

<div class="p-0 container-fluid mt-4">

    <table class=" p-0 table mt-4  table-bordered">

        <thead class="p-0" style="background-color: dimgrey;">
            <tr class="">
                <th class="p-0 align-items-center" style="text-align: center"><span class="text-white align-items-center" style="text-align: center">STAFF</span></th>
                <th class="text-uppercase text-white" style="text-align: center">Mon</th>
                <th class="text-uppercase text-white" style="text-align: center">Tue</th>
                <th class="text-uppercase text-white" style="text-align: center">Wed</th>
                <th class="text-uppercase text-white" style="text-align: center">Thu</th>
                <th class="text-uppercase text-white" style="text-align: center">Fri</th>
                <th class="text-uppercase text-white" style="text-align: center">Sat</th>
                <th class="text-uppercase text-white" style="text-align: center">Sun</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var shift in Model.physicianShifts)
            {
                <tr>

                    <td>

                        <img src="~/document/physician/@shift.PhysicianId/ProfilePhoto.jpg" class="rounded-circle" style="height:30px; width:30px;" />
                        <span>@shift.PhysicianName</span>

                    </td>


                    @try
                    {

                        @if (shift.shiftDetails != null && shift.shiftDetails.Any())
                        {
                            @foreach (var shiftdetail in shift.shiftDetails)
                            {
                                @if(shiftdetail != null)
                                {
                                    <td class="pending-shift-bg">
                                        @shiftdetail.Starttime - @shiftdetail.Endtime
                                    </td>
                                }
                            }
                        }
                    }
                    catch (Exception e)
                    {

                    }



                </tr>
            }

            @* @foreach (var physician in Model.physicians)
            {

                <tr>

                    <td>

                        <img src="~/document/physician/@physician.Physicianid/ProfilePhoto.png" class="rounded-circle" style="height:30px; width:30px;" />
                        <span>@physician.Firstname @physician.Lastname</span>

                    </td>


                    @{
                        var list = Model.physicianShifts.Where(shift => shift.PhysicianId == physician.Physicianid);
                    }

                @try{

                        @if (list != null && list.Any())
                        {
                            @foreach (var shift in list)
                            {
                                <td class="pending-shift-bg">
                                    @shift.shiftDetail.Starttime - @shift.shiftDetail.Endtime
                                </td>
                            }
                        }
                }
                    catch(Exception e)
                    {
                        
                    }



                </tr>

            } *@


        </tbody>

    </table>

</div>
