@using Business_Layer.Utilities
@model AdminApprovedViewModel
@{
    Layout = "_AdminDashboardLayout";
}


@{
    decimal houseCallPayrate = Model.providerPayrates.FirstOrDefault(rate => rate.PayrateCategoryId == (int)PayrateCategoryEnum.HouseCall)?.Payrate ?? 0;
    decimal phoneConsultPayrate = Model.providerPayrates.FirstOrDefault(rate => rate.PayrateCategoryId == (int)PayrateCategoryEnum.PhoneConsult)?.Payrate ?? 0;
    decimal shiftPayrate = Model.providerPayrates.FirstOrDefault(rate => rate.PayrateCategoryId == (int)PayrateCategoryEnum.Shift)?.Payrate ?? 0;
    decimal nightShiftWeekend = Model.providerPayrates.FirstOrDefault(rate => rate.PayrateCategoryId == (int)PayrateCategoryEnum.NightShiftWeekend)?.Payrate ?? 0;

}


<div class="container-fluid d-flex justify-content-center row ">

    <div class="col-md-8 col-12">

        <div class="d-flex justify-content-between mt-3">

            <h4>Timesheets</h4>

            <button onclick="history.back(-1)" class="btn btn-outline-info shadow-none night-mode-btn d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 -960 960 960">
                    <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z" />
                </svg>
                <span>Back</span>
            </button>

        </div>


        <form method="post" asp-action="UpdateTimesheetForm">
            <div class="dashboard-card">

                <div>

                    <input hidden asp-for="TimesheetDetails.TimesheetId" />
                    @if (Model != null && Model.TimesheetDetails.timeSheetDayRecords != null && Model.TimesheetDetails.timeSheetDayRecords.Count > 0)
                    {

                        <input hidden asp-for="TimesheetDetails.StartDate" />
                        <input hidden asp-for="TimesheetDetails.EndDate" />

                        <div class="table-responsive">

                            <table class="table mt-4  table-bordered">

                                <thead class="">

                                    <tr class="">
                                        <th>Date</th>
                                        <th>On-Call Hours</th>
                                        <th>Total Hours</th>
                                        <th>Weekend/Holiday</th>
                                        <th>Number of Housecalls</th>
                                        <th>Number of Phone Consults</th>
                                        <th>Total</th>
                                    </tr>

                                </thead>

                                <tbody>

                                    @for (int i = 0; i < Model.TimesheetDetails.timeSheetDayRecords.Count; i++)
                                    {
                                        <input asp-for="TimesheetDetails.timeSheetDayRecords[i].TimeSheetDetailId" hidden />
                                        <input asp-for="TimesheetDetails.timeSheetDayRecords[i].DateOfRecord" hidden />
                                        <tr>
                                            <td>@Model.TimesheetDetails.timeSheetDayRecords[i].DateOfRecord.ToString("dd-MM-yyyy")</td>
                                            <td>@Model.TimesheetDetails.timeSheetDayRecords[i].OnCallHours</td>
                                            <td>
                                                <input class="form-control timesheet-total-hour" asp-for="TimesheetDetails.timeSheetDayRecords[i].TotalHours" type="number" />
                                            </td>
                                            <td>
                                                <input class="form-check-input timesheet-is-weekend" asp-for="TimesheetDetails.timeSheetDayRecords[i].IsHoliday" type="checkbox" />
                                            </td>
                                            <td>
                                                <input class="form-control timesheet-house-call" asp-for="TimesheetDetails.timeSheetDayRecords[i].NoOfHouseCall" type="number" />
                                            </td>
                                            <td>
                                                <input class="form-control timesheet-phone-consult" asp-for="TimesheetDetails.timeSheetDayRecords[i].NoOfPhoneConsult" type="number" />
                                            </td>
                                            <td></td>
                                        </tr>
                                    }

                                    <tr>
                                        <td colspan="2">Payrate</td>
                                        <td>
                                            <input class="form-control" disabled value="@shiftPayrate" />
                                        </td>
                                        <td>
                                            <input class="form-control" disabled value="@nightShiftWeekend" />
                                        </td>
                                        <td>
                                            <input class="form-control" disabled value="@houseCallPayrate" />
                                        </td>
                                        <td>
                                            <input class="form-control" disabled value="@phoneConsultPayrate" />
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">Invoice Total</td>
                                        <td>
                                            <input class="form-control" id="total-hour-total-invoice" disabled value="" />
                                        </td>
                                        <td>
                                            <input class="form-control" id="weekend-shift-total-invoice" disabled value="" />
                                        </td>
                                        <td>
                                            <input class="form-control" id="house-call-total-invoice" disabled value="" />
                                        </td>
                                        <td>
                                            <input class="form-control" id="phone-consult-total-invoice" disabled value="" />
                                        </td>
                                        <td>
                                            <input class="form-control" disabled id="timesheet-total-invoice" value="" />
                                        </td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>

                    }
                    else
                    {
                        <h4>Couldn't Fetch Timesheet Data</h4>
                    }
                </div>

            </div>

            <div class="d-flex justify-content-end">

                <button class="btn text-white btn-info" type="submit">Submit</button>

            </div>

        </form>

        <div class="d-flex mt-3 justify-content-start">
            <button class="btn text-white btn-info" type="button" id="add-receipt-btn">Show Receipts</button>
            <button class="btn text-white btn-danger" type="button" id="cancel-receipt-btn" style="display:none;">Hide Receipts</button>
        </div>

        @if (Model != null && Model.TimesheetDetails.timeSheetReceiptRecords != null && Model.TimesheetDetails.timeSheetReceiptRecords.Count > 0)
        {
            <div class="table-responsive">

                <table class="table mt-4 table-bordered d-none" id="bill-table">

                    <colgroup>

                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 30%;">
                        <col span="1" style="width: 20%;">

                    </colgroup>

                    <thead class="">

                        <tr class="">
                            <th>Date</th>
                            <th>Item Name</th>
                            <th>Amount</th>
                            <th>Bill</th>
                            <th>Actions</th>
                        </tr>

                    </thead>

                    <tbody>

                        @for (int i = 0; i < Model.TimesheetDetails.timeSheetReceiptRecords.Count; i++)
                        {
                            ReceiptRecord currentRecord = Model.TimesheetDetails.timeSheetReceiptRecords[i];

                            <tr>
                                <td>
                                    @currentRecord.DateOfRecord.ToString("dd-MM-yyyy")
                                </td>
                                <td>
                                    @currentRecord.ItemName
                                </td>
                                <td>
                                    @currentRecord.Amount
                                </td>
                                <td>
                                    <span>@currentRecord.BillReceiptName</span>
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(currentRecord.BillReceiptFilePath))
                                    {
                                        <a target="_blank" href="@currentRecord.BillReceiptFilePath" class="btn btn-outline-info">View</a>
                                    }
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>

            </div>
        }
        else
        {
            <h4>Couldn't fetch receipts data</h4>
        }

        <form method="post" asp-action="ApproveTimeSheet">

            <div class="d-flex justify-content-end">

                <input hidden asp-for="TimesheetDetails.TimesheetId" name="timeSheetId" />

                <div class="form-floating me-2">
                    <input asp-for="BonusAmount" class="form-control" type="number" step=".001" placeholder="Bonus Amount" />
                    <label>Bonus Amount</label>
                </div>

                <div class="form-floating me-2">
                    <input asp-for="AdminDescription" class="form-control" type="text" placeholder="Admin Description" />
                    <label>Admin Description</label>
                </div>

                <button type="submit" class="btn text-white btn-info align-items-center d-flex">Approve</button>

            </div>

        </form>
    </div>

    <div style="height: 20px;"></div>

</div>

<script>
    let totalHourInvoice = 0;
    let weekendShiftInvoice = 0;
    let houseCallInvoice = 0;
    let phoneConsultInvoice = 0;

    function updateTotalHourInvoice() {

        let totalHours = 0;

        $('.timesheet-total-hour').each(function (index, object) {
            totalHours = totalHours + parseInt($(this).val());
        });

        // console.log(totalHours);
        // console.log(@shiftPayrate);

        totalHourInvoice = totalHours * @shiftPayrate;

        $('#total-hour-total-invoice').val(totalHourInvoice);

        updateTotalTimesheetInvoice();
    }

    function updateHouseCallInvoice() {

        let houseCalls = 0;

        $('.timesheet-house-call').each(function (index, object) {
            houseCalls = houseCalls + parseInt($(this).val());
        });

        // console.log(houseCalls);
        // console.log(@houseCallPayrate);

        houseCallInvoice = houseCalls * @houseCallPayrate;

        $('#house-call-total-invoice').val(houseCallInvoice);

        updateTotalTimesheetInvoice();
    }

    function updatePhoneConsultInvoice() {

        let phoneConsults = 0;

        $('.timesheet-phone-consult').each(function (index, object) {
            phoneConsults = phoneConsults + parseInt($(this).val());
        });

        // console.log(phoneConsults);
        // console.log(@phoneConsultPayrate);

        phoneConsultInvoice = phoneConsults * @phoneConsultPayrate;

        $('#phone-consult-total-invoice').val(phoneConsultInvoice);

        updateTotalTimesheetInvoice();
    }

    function updateWeekendShiftInvoice() {

        let weekendShifts = $('input.timesheet-is-weekend:checked').length;

        // console.log(weekendShifts);
        // console.log(@nightShiftWeekend);

        weekendShiftInvoice = weekendShifts * @nightShiftWeekend;

        $('#weekend-shift-total-invoice').val(weekendShiftInvoice);

        updateTotalTimesheetInvoice();
    }

    function updateTotalTimesheetInvoice() {

        let totalInvoice = totalHourInvoice + weekendShiftInvoice + houseCallInvoice + phoneConsultInvoice;
        $('#timesheet-total-invoice').val(totalInvoice);
    }

    $('.timesheet-total-hour').change(function () {

        let hourVal = $(this).val();
        if (!hourVal.trim()) {
            $(this).val(0);
        }

        updateTotalHourInvoice();
    });

    $('.timesheet-house-call').change(function () {

        let hourVal = $(this).val();
        if (!hourVal.trim()) {
            $(this).val(0);
        }

        updateHouseCallInvoice();
    });

    $('.timesheet-phone-consult').change(function () {

        let hourVal = $(this).val();
        if (!hourVal.trim()) {
            $(this).val(0);
        }

        updatePhoneConsultInvoice();
    });

    $('.timesheet-is-weekend').change(function () {
        updateWeekendShiftInvoice();
    });

    $(document).ready(function () {
        updateTotalHourInvoice();
        updateWeekendShiftInvoice();
        updateHouseCallInvoice();
        updatePhoneConsultInvoice();
        updateTotalTimesheetInvoice();
    });
</script>

<script>

    $('#add-receipt-btn').click(function () {
        $(this).hide();
        $('#cancel-receipt-btn').show();
        $('#bill-table').removeClass("d-none");
    });

    $('#cancel-receipt-btn').click(function () {
        $(this).hide();
        $('#add-receipt-btn').show();
        $('#bill-table').addClass("d-none");
    });

</script>