@model AddShiftModel


@{
    string repeatDaysList = "repeatDays";
}

<div class="modal fade" id="addShiftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <div class="modal-dark modal-title text-white" id="exampleModalLongTitle">
                    Create Shift
                </div>
                <button type="button" class="btn" aria-label="Close" data-bs-dismiss="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                         fill="#FFFFFF">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                    </svg>
                </button>
            </div>

            <form method="post" id="add-shift-modal-form">
                <div class="modal-body">
                    <div class="modal-flex my-3">

                        <input hidden />
                        <div class="col-12 form-floating">

                            <select id="add-shift-region-list" asp-for="RegionId" class="form-select" onchange="validateRequired(this)">
                                <option disabled selected value="">-- Select Region --</option>

                                @foreach (var region in Model.regions)
                                {
                                    <option value="@region.Regionid">@region.Name </option>
                                }

                            </select>

                            <label for="add-shift-region-list">Select Region</label>
                            <span asp-validation-for="RegionId" class="text-danger"></span>
                            <span class="text-danger error-msg"></span>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="form-floating">
                                <select id="add-shift-physician-list" asp-for="PhysicianId" class="form-select" onchange="validateRequired(this)">
                                    <option disabled selected value="">-- Select Physician --</option>
                                </select>
                                <label for="add-shift-physician-list">Select Physician</label>
                                <span asp-validation-for="PhysicianId" class="text-danger"></span>
                                <span class="text-danger error-msg"></span>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                            <div class="form-floating">
                                <input asp-for="ShiftDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="validateShiftDate('add-shift-date-input')" id="add-shift-date-input" class="form-control" type="date" style="height:60px;" />
                                <label for="floatingInput" class="">Shift Date</label>
                                <span asp-validation-for="ShiftDate" class="text-danger"></span>
                                <span class="text-danger error-msg" id="shift-date-error"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between col-12 mt-3">
                            <div class=" col-5 mx-1">
                                <div class="form-floating">
                                    <input asp-for="StartTime" onchange="validateStartTime('add-shift-start-time','add-shift-date-input')" id="add-shift-start-time" type="time" class="form-control" placeholder="">
                                    <label for="floatingInput">Start</label>
                                    <span asp-validation-for="StartTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class=" col-5 mx-1">
                                <div class="form-floating">
                                    <input asp-for="EndTime" onchange="validateEndTime('add-shift-end-time','add-shift-start-time')" id="add-shift-end-time" type="time" class="form-control" placeholder="Email">
                                    <label for="floatingInput">End</label>
                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex flex-column">
                            <span class="text-danger error-msg" id="start-time-error"></span>
                            <span class="text-danger error-msg" id="end-time-error"></span>
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-start">

                            <div class="form-check form-switch">
                                <label class="form-check-label" for="is-repeat-switch">Repeat</label>
                                <input class="form-check-input" type="checkbox" role="switch" name="IsRepeat" value="1" id="is-repeat-switch">
                                <span asp-validation-for="IsRepeat" class="text-danger"></span>
                                <span class="text-danger error-msg"></span>
                            </div>

                        </div>

                        <div id="is-repeat-div" style="display:none;">

                            <div class="col-12 p-0 mt-3">
                                <span>Repeat Days</span>

                                <div class="p-0 d-flex flex-wrap mt-3">
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="@repeatDaysList" type="checkbox" value="0" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Sunday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input me-1" name="@repeatDaysList" type="checkbox" value="1" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Monday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="@repeatDaysList" type="checkbox" value="2" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Tuesday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="@repeatDaysList" type="checkbox" value="3" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Wednesday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="@repeatDaysList" type="checkbox" value="4" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Thurseday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="me-1 form-check-input" name="@repeatDaysList" type="checkbox" value="5" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Friday
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="mx-1 form-check-input" name="@repeatDaysList" type="checkbox" value="6" id="flexCheckChecked">
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Saturday
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="col-12 form-floating">
                                <input asp-for="RepeatCount" class="form-control" placeholder="Repeat Count">
                                <label for="floatingInputemail">Repeat Count</label>
                                <span asp-validation-for="RepeatCount" class="text-danger"></span>

                                <span class="error-msg text-danger" style="display:none;"></span>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="addShift-submit-btn" class="btn btn-info text-white">Save</button>
                    <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/admin/modal/add-shift-modal.js"></script>