@model EditPhysicianViewModel
@{
    Layout = "_AdminDashboardLayout";
}

<div>
    <div class="container-fluid d-flex justify-content-between mt-4" style="max-width:1000px">
        <h4 class="fw-bold">
            Create Admin Account
        </h4>
        <div class="d-inline-flex">

            <button onclick="history.back(-1)" class="btn btn-outline-info shadow-none night-mode-btn d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 -960 960 960">
                    <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z" />
                </svg>
                <span>Back</span>
            </button>

        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-4" style="max-width:1000px">
        <form method="post" enctype="multipart/form-data" class="form-floating shadow p-3">
            <h5 class="fw-bold">Account Information</h5>

            <div class="row g-2 m-1">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="UserName" type="text" class="form-control">
                        <label for="">UserName</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating phone-div w-100 h-100 ">
                        <input asp-for="Password" type="password" class=" form-control w-100 h-100">
                        <label for="">Password</label>
                    </div>
                </div>
                <div class="col-md-6 col-12 mt-4">
                    <select asp-for="RoleId" class="white-back form-select" id="accountType" style="height:60px;">
                        <option disabled selected value="0"> Account Type </option>

                        @foreach (var role in Model.roles)
                        {
                            <option value="@role.Roleid">@role.Name</option>
                        }


                    </select>


                </div>

            </div>

            <h5 class="fw-bold">Administrator Information</h5>

            <div class="row g-2 m-1">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="FirstName" type="text" class="form-control">
                        <label for="">First Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="LastName" type="text" class="form-control">
                        <label for="floatingSelectGrid">Last Name</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Email" type="email" class="form-control">
                        <label for="">Email</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating phone-div w-100 h-100 ">
                        <input asp-for="SyncEmail" type="email" class=" form-control w-100 h-100">
                        <label for="">Confirm Email</label>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-floating d-flex " style="height:58px;">

                        <input id="patient-phone-country" asp-for="CountryCode" hidden />

                        <input id="patient-phone" class="py-4 form-control" type="tel" asp-for="Phone" />

                    </div>

                </div>

                <div class="col-md-6 d-flex justify-content-start flex-wrap mt-4">
                    @foreach(var region in Model.regions)
                    {
                        <div class="form-floating mt-1 me-3 checkColor ">

                            <input name="selectedRegions" class="changeable check form-check-input" value="@region.Regionid" type="checkbox" style="" />

                            <span>@region.Name</span>

                        </div>
                    }
                </div>

            </div>



            <h5 class="fw-bold">Mailing & Billing Information</h5>


            <div class="row g-2 m-1">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Address1" type="text" class="form-control" placeholder="">
                        <label for="">Address1</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Address2" type="text" class="form-control" placeholder="">
                        <label for="floatingSelectGrid">Address2</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">

                        <select disabled asp-for="CityId" class="form-select billingChange" id="create-phy-city">
                            <option disabled value=""> -- Select City -- </option>

                        </select>
                        <label for="admin-billing-city">City</label>
                        <span asp-validation-for="CityId" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating phone-div w-100 h-100 ">
                        <select asp-for="RegionId" class="form-select border-0" aria-label="Default select example">
                            @foreach (var region in Model.regions)
                            {
                                <option value="@region.Regionid">@region.Name</option>
                            }
                        </select>
                        <label for="">Select A Region</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Zip" type="text" class="form-control" placeholder="">
                        <label for="">Zip</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating d-flex " style="height:58px;">
                        <input id="phone-country" asp-for="MailCountryCode" hidden />

                        <input id="phone" class="py-4 form-control" type="tel" asp-for="MailPhone" />
                    </div>
                </div>
            </div>


            <div class="my-3"></div>



            <div class="border-bottom border-5"></div>
            <button type="submit" class="btn login-button float-end m-1 ">Create Account</button>
            <button type="reset" class="btn login-button float-end m-1 ">Reset</button><br />
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>

<script>

    $('.admin-tab').removeClass("active");
    $('#access-tab').addClass("active");

</script>

<script>

    $('#access-tab').removeClass("text-grey")

    const phoneInputField1 = document.getElementById("patient-phone");
    var patientPhoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        initialCountry: "in"
    });


    function changeCountryCode1() {
        var countryCode1 = document.getElementById("patient-phone-country");
        countryCode1.value = patientPhoneInput1.getSelectedCountryData().dialCode;
        console.log(countryCode1.value);
    }


    const phoneInputField2 = document.getElementById("phone");
    var patientPhoneInput2 = window.intlTelInput(phoneInputField2, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        initialCountry: "in"
    });


    function changeCountryCode2() {
        var countryCode2 = document.getElementById("phone-country");
        countryCode2.value = patientPhoneInput2.getSelectedCountryData().dialCode;
        console.log(countryCode2.value);
    }

    // $('#createAdminForm').submit(function (e) {
    //     e.preventDefault();

    //     let countryCode1 = document.getElementById("patient-phone-country");
    //     countryCode1.value = patientPhoneInput1.getSelectedCountryData().dialCode;
    //     console.log(countryCode1);
    //     let countryCode1 = document.getElementById("phone-country");
    //     countryCode1.value = patientPhoneInput1.getSelectedCountryData().dialCode;
    //     console.log(countryCode1);

    //     let formData = $(this).serialize();
    //     console.log(formData);

    //     $.ajax({
    //         url: "/Admin/CreateAdminAccount",
    //         data: formData,
    //         type: 'POST',
    //         success: function (result) {
    //             location.reload();
    //         },
    //         error: function (error) {
    //             console.log(error);
    //             alert('Error creating Account')
    //         },
    //     });

    // });
</script>
