@model AdminProfileViewModel
@{
    Layout = "_AdminDashboardLayout";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/js/bootstrap-multiselect.min.js" integrity="sha512-lxQ4VnKKW7foGFV6L9zlSe+6QppP9B2t+tMMaV4s4iqAv4iHIyXED7O+fke1VeLNaRdoVkVt8Hw/jmZ+XocsXQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.2/css/bootstrap-multiselect.css" integrity="sha512-tlP4yGOtHdxdeW9/VptIsVMLtgnObNNr07KlHzK4B5zVUuzJ+9KrF86B/a7PJnzxEggPAMzoV/eOipZd8wWpag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<partial name="_ValidationScriptsPartial" />

<div>
    <div class="container-fluid d-flex justify-content-between mt-4" style="max-width:1000px">
        <h4 class="fw-bold">
            Create Admin Account
        </h4>
        <div class="d-inline-flex">

            <button onclick="history.back(-1)" class="btn btn-outline-info shadow-none night-mode-btn d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 -960 960 960">
                    <path d="m142-480 294 294q15 15 14.5 35T435-116q-15 15-35 15t-35-15L57-423q-12-12-18-27t-6-30q0-15 6-30t18-27l308-308q15-15 35.5-14.5T436-844q15 15 15 35t-15 35L142-480Z" />
                </svg>
                <span>Back</span>
            </button>

        </div>
    </div>
    <div class="container-fluid d-flex justify-content-center mt-4" style="max-width:1000px">
        <form method="post" enctype="multipart/form-data" class="form-floating shadow p-3">
            <h5 class="fw-bold">Account Information</h5>

            <div class="row g-2 m-1">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="UserName" type="text" class="form-control" disabled>
                        <label for="">UserName</label>
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating  ">
                        <input asp-for="Password" type="password" class=" form-control ">
                        <label for="">Password</label>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-floating">

                        <select asp-for="RoleId" class="form-select" id="accountType">
                            <option disabled selected value="">-- Select Role --</option>

                            @foreach (var role in Model.roles)
                            {
                                <option value="@role.Roleid">@role.Name</option>
                            }


                        </select>
                        <label for="accountType">Role</label>
                        <span class="text-danger" asp-validation-for="RoleId"></span>
                    </div>


                </div>

            </div>

            <h5 class="fw-bold">Administrator Information</h5>

            <div class="row g-2 m-1">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="FirstName" type="text" class="form-control">
                        <label for="">First Name</label>
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="LastName" type="text" class="form-control">
                        <label for="floatingSelectGrid">Last Name</label>
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Email" type="email" class="form-control">
                        <label for="">Email</label>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="ConfirmEmail" type="email" class=" form-control">
                        <label for="">Confirm Email</label>
                        <span class="text-danger" asp-validation-for="ConfirmEmail"></span>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-floating">

                        <input id="patient-phone-country" asp-for="CountryCode" hidden />

                        <input id="patient-phone" class="py-4 form-control" type="tel" asp-for="PhoneNumber" />
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>

                    </div>

                </div>

                <div class="col-md-6 col-12">
                    <select multiple data-live-search="true" class="form-select col-6 selectpicker" id="adminSelectedRegions" asp-for="selectedRegions">

                        @foreach (var region in Model.regions)
                        {
                            <option value="@region.Regionid" style="font-size: 10px;">@region.Name</option>
                        }

                    </select>
                </div>
            </div>



            <h5 class="fw-bold">Mailing & Billing Information</h5>


            <div class="row g-2 m-1">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Address1" type="text" class="form-control" placeholder="">
                        <label for="">Address1</label>
                        <span class="text-danger" asp-validation-for="Address1"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Address2" type="text" class="form-control" placeholder="">
                        <label for="floatingSelectGrid">Address2</label>
                        <span class="text-danger" asp-validation-for="Address2"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">

                        <select asp-for="CityId" class="form-select billingChange" id="admin-billing-city">
                            <option disabled value=""> -- Select City -- </option>
                        </select>
                        <label for="admin-billing-city">City</label>
                        <span asp-validation-for="CityId" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <select asp-for="RegionId" class="form-select" id="admin-billing-state">
                            <option selected disabled value=""> -- Select State -- </option>
                            @foreach (var region in Model.regions)
                            {
                                <option value="@region.Regionid">@region.Name</option>
                            }
                        </select>
                        <label for="">Select A Region</label>
                        <span class="text-danger" asp-validation-for="RegionId"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Zip" type="text" class="form-control" placeholder="">
                        <label for="">Zip</label>
                        <span class="text-danger" asp-validation-for="Zip"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input id="alt-phone-country" asp-for="AltCountryCode" hidden />

                        <input id="alt-phone" class="py-4 form-control" type="tel" asp-for="AltPhoneNumber" />
                        <span class="text-danger" asp-validation-for="AltPhoneNumber"></span>
                    </div>
                </div>
            </div>

            <div class="my-3"></div>

            <button type="submit" onclick="changeCountryCode()" class="btn btn-success float-end m-1 ">Create Account</button>
            <button type="reset" class="btn btn-danger float-end m-1 ">Reset</button>

        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>

<script>

    $('.admin-tab').removeClass("active");
    $('#access-tab').addClass("active");

</script>

<script>

    const adminPhoneInput = document.getElementById("patient-phone");
    let adminPhoneIntlField = window.intlTelInput(adminPhoneInput, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        initialCountry: "in"
    });

    const adminAltPhoneInput = document.getElementById("alt-phone");
    let adminAltPhoneIntlField = window.intlTelInput(adminAltPhoneInput, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        preferredCountries: ["in"],
        separateDialCode: true,
        initialCountry: "in"
    });    

    function changeCountryCode() {
        var phoneCode = document.getElementById("patient-phone-country");
        phoneCode.value = adminPhoneIntlField.getSelectedCountryData().dialCode;

        var altPhoneCode = document.getElementById("alt-phone-country");
        altPhoneCode.value = adminAltPhoneIntlField.getSelectedCountryData().dialCode;

    }


    // $('#createAdminForm').submit(function (e) {
    //     e.preventDefault();

    //     let countryCode1 = document.getElementById("patient-phone-country");
    //     countryCode1.value = patientPhoneInput1.getSelectedCountryData().dialCode;
    //     console.log(countryCode1);
    //     let countryCode1 = document.getElementById("phone-country");
    //     countryCode1.value = patientPhoneInput1.getSelectedCountryData().dialCode;
    //     console.log(countryCode1);

    //     let formData = $(this).serialize();
    //     console.log(formData);

    //     $.ajax({
    //         url: "/Admin/CreateAdminAccount",
    //         data: formData,
    //         type: 'POST',
    //         success: function (result) {
    //             location.reload();
    //         },
    //         error: function (error) {
    //             console.log(error);
    //             alert('Error creating Account')
    //         },
    //     });

    // });
</script>

<script>
    $("#admin-billing-state").change(function () {

        var regId = $('option:selected', this).val();

        $.ajax({
            url: '/Admin/GetCitiesByRegion',
            type: 'POST',
            data: {
                regionId: regId,
            },
            success: function (result) {
                console.log(result);
                $('#admin-billing-city').empty();
                $('#admin-billing-city').append($('<option>', {
                    value: 0,
                    text: '-- Select City --',
                    selected: true,
                    disabled: true
                }));
                $.each(result, function (index, object) {

                    $('#admin-billing-city').append($('<option>', {
                        value: object["id"],
                        text: object["name"]
                    }));

                });
            },
            error: function (err) {
                console.error(err);
            }
        });
    });

</script>
