@model PhysicianDashboardViewModel

<div class="table-responsive mt-3 d-none d-md-block" style="height:500px">
    <table class="table">

        @{
            int dstatus = Model.DashboardStatus;
        }
        @if (dstatus != 3)
        {
            <colgroup>
                <col span="1" style="">
                <col span="1" style="">
                <col span="1" style="">
                <col span="1" style="">
            </colgroup>
        }
        else
        {
            <colgroup>
                <col span="1" style="">
                <col span="1" style="">
                <col span="1" style="">
                <col span="1" style="">
                <col span="1" style="">
            </colgroup>
        }

        <thead class="table-head align-middle">
            <tr>

                <th>Name</th>

                <th>Phone</th>

                <th>Address</th>

                @if (dstatus == 3)
                {
                    <th>Status</th>
                }

                <th>Actions</th>

            </tr>
        </thead>

        <tbody class="align-middle" id="dashboard-table-body">
            @for (int i = 0; i < Model.pagedList.Count; i++)
            {
                var currentRequest = Model.pagedList[i];
                int type = currentRequest.RequestType;

                string className = "", phoneTextName = "";

                switch (type)
                {
                    case 1:
                        className = "business-request-row";
                        phoneTextName = "Business";
                        break;
                    case 2:
                        className = "patient-request-row";
                        break;
                    case 3:
                        className = "family-friend-request-row";
                        phoneTextName = "Family/Friend";
                        break;
                    case 4:
                        className = "concierge-request-row";
                        phoneTextName = "Concierge";
                        break;
                }

                <tr class="@className">
                    <td>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>@currentRequest.PatientName</span>
                            <a href="mailto:@currentRequest.Email">
                                <div class="white-border-btn p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24"
                                         width="20px" fill="#FFFFFF">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </td>

                    <td>
                        <a style="text-decoration:none; color: white;" href="tel:@currentRequest.PatientPhone">
                            <div class="white-border-btn px-2 py-1 align-items-center d-flex">
                                <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px"
                                     fill="white">
                                    <path d="M0 0h24v24H0V0z" fill="none" />
                                    <path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z" />
                                </svg>
                                <span class="ms-1">@currentRequest.PatientPhone</span>
                            </div>
                            <div>(Patient)</div>
                        </a>


                        @if (type != 2)
                        {
                            <a style="text-decoration:none; color: white;" href="tel:@currentRequest.PatientPhone">
                                <div class="white-border-btn px-2 py-1 align-items-center d-flex">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px"
                                         fill="white">
                                        <path d="M0 0h24v24H0V0z" fill="none" />
                                        <path d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57-.1-.04-.21-.05-.31-.05-.26 0-.51.1-.71.29l-2.2 2.2c-2.83-1.45-5.15-3.76-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02C8.7 6.45 8.5 5.25 8.5 4c0-.55-.45-1-1-1z" />
                                    </svg>
                                    <span class="ms-1">@currentRequest.Phone</span>
                                </div>
                                <div>(@phoneTextName)</div>
                            </a>
                        }

                    </td>

                    <td>@currentRequest.Address</td>

                    @if (dstatus == 3)
                    {
                        <td>

                            @if (currentRequest.IsHouseCall)
                            {
                                <button data-requestid="@currentRequest.RequestId" class="btn btn-info text-white house-call-btn">House Call</button>
                            }

                        </td>


                    }

                    <td>
                        <div class="d-flex justify-content-center" style="margin: 0px 5px 0px 5px">
                            <div class="dropdown">
                                <a class="white-border-btn btn" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="text-white">Actions</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    @if (dstatus == 1)
                                    {
                                        <li><button class="dropdown-item accept-case-btn" data-requestid="@currentRequest.RequestId" type="button">Accept</button></li>
                                        <li><a asp-controller="Physician" asp-action="ViewCase" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item">View Case</a></li>
                                        <li><a asp-controller="Physician" asp-action="ViewNotes" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item" type="button">View Notes</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Physician" asp-action="ViewCase" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item">View Case</a></li>
                                        <li><a asp-controller="Physician" asp-action="ViewUploads" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item" type="button">View Uploads</a></li>
                                        <li><a asp-controller="Physician" asp-action="ViewNotes" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item" type="button">View Notes</a></li>
                                    }

                                    @if (dstatus == 2)
                                    {
                                        <li><button data-bs-toggle="modal" data-bs-target="#transferModal" data-id="@currentRequest.RequestId" class="dropdown-item transfer-case-btn" type="button">Transfer</button></li>
                                        <li><button data-type="@currentRequest.RequestType" data-id="@currentRequest.RequestId" data-email="@currentRequest.Email" data-number="@currentRequest.PatientPhone" data-bs-toggle="modal" data-bs-target="#SendAgreementModal" class="send-agreement-btn dropdown-item" type="button">Send Agreement</button></li>
                                    }
                                    @if (dstatus == 3)
                                    {
                                        <li><a asp-controller="Physician" asp-action="Orders" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item" type="button">Orders</a></li>
                                        if (currentRequest.IsHouseCall)
                                        {
                                            <li><a asp-controller="Physician" asp-action="EncounterForm" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item" type="button">Encounter</a></li>
                                        }
                                        else
                                        {
                                            if (currentRequest.IsFinalize)
                                            {
                                                <li><button data-bs-toggle="modal" data-bs-target="#encounterFinalizeModal" data-requestid="@currentRequest.RequestId" class="dropdown-item encounter-finalized-btn" type="button">Encounter</button></li>
                                            }
                                            else
                                            {
                                                <li><button data-bs-toggle="modal" data-bs-target="#beforeEncounterModal" data-requestid="@currentRequest.RequestId" class="dropdown-item encounter-case-btn" type="button">Encounter</button></li>
                                            }
                                        }
                                    }
                                    @if (dstatus == 4)
                                    {
                                        <li><a asp-controller="Physician" asp-action="ConcludeCare" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item" type="button">Conclude Care</a></li>
                                        if (currentRequest.IsFinalize)
                                        {
                                            <li><button data-bs-toggle="modal" data-bs-target="#encounterFinalizeModal" data-requestid="@currentRequest.RequestId" class="dropdown-item encounter-finalized-btn" type="button">Encounter</button></li>
                                        }
                                        else
                                        {
                                            <li><a asp-controller="Physician" asp-action="EncounterForm" asp-route-requestId="@currentRequest.RequestId" class="dropdown-item" type="button">Encounter</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </td>

                </tr>

            }
        </tbody>

    </table>
</div>

<div class="pagination d-flex justify-content-center align-content-center">

    @if (Model.pagedList.hasPrevious)
    {
        <button class="border-0 mx-1 page-item" onclick="loadPage(1)">❮❮</button>
        <button class="page-item mx-1 border-0" onclick="loadPreviousPage(@Model.CurrentPage)">❮</button>
    }
    else
    {
        <button disabled class="disabled border-0 mx-1 page-item">❮❮</button>
        <button disabled class="disabled page-item mx-1 border-0">❮</button>
    }

    <button class="page-item mx-1 active border-0">@Model.CurrentPage</button>

    @if (Model.pagedList.hasNext)
    {
        <button class="page-item mx-1 border-0" onclick="loadNextPage(@Model.CurrentPage)">❯</button>
        <button class="page-item mx-1 border-0" onclick="loadPage(@Model.pagedList.TotalPages)">❯❯</button>
    }
    else
    {
        <button disabled class="page-item disabled mx-1 border-0">❯</button>
        <button disabled class="page-item disabled mx-1 border-0">❯❯</button>
    }

</div>


<script>

    $('.house-call-btn').click(function () {
        let houseCallReqId = $(this).data("requestid");

        $.ajax({
            url: "/Physician/EncounterHouseCallFinish",
            data: { requestId: houseCallReqId },
            type: 'POST',
            success: function (result) {
                if (result) {
                    location.reload();
                }
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });
    });

    $('.encounter-finalized-btn').click(function () {
        let encounterReqId = $(this).data("requestid");

        $('#encounter-finalize-modal-request-id').val(encounterReqId);
    });

    $('.encounter-case-btn').click(function () {
        let encounterReqId = $(this).data("requestid");

        $("#encounter-modal-request-id").val(encounterReqId);

    });

    $('.accept-case-btn').click(function () {
        let acceptRequestId = $(this).data("requestid");

        console.log(acceptRequestId);

        $.ajax({
            url: "/Physician/AcceptCase",
            data: { requestId: acceptRequestId },
            type: 'POST',
            success: function (result) {
                if (result) {
                    location.reload();
                }
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });
    });

    $('.transfer-case-btn').click(function () {
        var Id = $(this).data("id");
        $('#transferCaseRequestId').val(Id);
    });

    $('.cancel-case-btn').click(function () {
        var Id = $(this).data("id");
        $('#cancelCaseRequestId').val(Id);

        var Name = $(this).data("name");
        $('#cancelModalPatientName').text(Name);
    });

    $('.block-patient-btn').click(function () {
        var Id = $(this).data("id");
        $('#blockCaseRequestId').val(Id);

        var Name = $(this).data("name");
        $('#blockModalPatientName').text(Name);
    });

    $('.clear-case-btn').click(function () {
        var Id = $(this).data("id");
        $('#clearCaseRequestId').val(Id);

    });

    $('.send-agreement-btn').click(function () {
        var Id = $(this).data("id");
        $('#sendAgreementRequestId').val(Id);

        var phoneNumber = $(this).data("number");
        $('#sendAgreementNumber').val(phoneNumber);

        var email = $(this).data("email");
        $('#sendagreementEmail').val(email);

        var type1 = $(this).data("type");
        console.log(type1);

        if (type1 == 1) {
            $('#sendtype').text('Business');
            $('#circle').css('background-color', '#007fc6');
        } else if (type1 == 2) {

            $('#sendtype').text('Patient');
            $('#circle').css('background-color', '#5fbc61');
        } else if (type1 == 3) {
            $('#sendtype').text('Concierge');
            $('#circle').css('background-color', '#e26277');
        } else {
            $('#sendtype').text('Family/Friends');
            $('#circle').css('background-color', '#ed9124');
        }

    });

</script>

<script>

    $('#assign-modal-submit-btn').on('click', function (event) {
        event.preventDefault();
        $.ajax({
            url: "/Physician/AssignCaseModal",
            data: { notes: $('#assignCaseNotes').val(), requestid: $('#assignCaseRequestId').val(), physicianid: $('#assignCasePhysician').val() },
            type: 'POST',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });
    });

    $('#transfer-modal-submit-btn').on('click', function (event) {

        event.preventDefault();

        $.ajax({
            url: "/Physician/TransferCaseModal",
            data: { notes: $('#transferCaseNotes').val(), requestid: $('#transferCaseRequestId').val(), physicianid: $('#transferCasePhysician').val() },
            type: 'POST',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });

    });

    $('#cancel-modal-submit-btn').on('click', function (event) {
        event.preventDefault();
        $.ajax({
            url: "/Physician/CancelCaseModal",
            data: { reason: $('#cancelModalCaseTag').val(), notes: $('#cancelCaseNotes').val(), requestid: $('#cancelCaseRequestId').val() },
            type: 'POST',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });

    });

    $('#block-modal-submit-btn').on('click', function (e) {

        e.preventDefault();

        $.ajax({
            url: "/Physician/BlockCaseModal",
            data: { reason: $('#blockCaseModalNotes').val(), requestid: $('#blockCaseRequestId').val() },
            type: 'POST',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });

    });

    $('#clear-modal-submit-btn').on('click', function (e) {
        e.preventDefault();

        $.ajax({
            url: "/Physician/ClearCaseModal",
            data: { requestid: $('#clearCaseRequestId').val() },
            type: 'POST',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });

    });

    $('#sendAgreement-modal-submit-btn').click(function (e) {
        e.preventDefault();

        $.ajax({
            url: "/Physician/SendAgreementMail",
            data: { PatientPhone: $('#sendAgreementNumber').val(), PatientEmail: $('#sendagreementEmail').val(), RequestId: $('#sendAgreementRequestId').val() },
            type: 'POST',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Cancelling Request')
            },
        });

    });

</script>

<script>

    $('#assignCaseRegion').change(function (event) {
        event.preventDefault();
        var region = $('option:selected', this).val();

        $.ajax({
            url: '/Physician/GetPhysicianByRegion',
            type: 'POST',
            data: {
                regionId: region,
            },
            success: function (result) {
                $('#assignCasePhysician').empty();
                $('#assignCasePhysician').append($('<option>', {
                    value: 0,
                    text: '-- Select Physician --',
                    selected: true,
                    disabled: true
                }));
                $.each(result, function (index, object) {

                    $('#assignCasePhysician').append($('<option>', {
                        value: object["physicianId"],
                        text: object["physicianName"]
                    }));

                });
            },
            error: function (err) {
                console.error(err);
            }
        });

    });

    $('#transferCaseRegion').change(function (event) {
        event.preventDefault();

        var region = $('option:selected', this).val();

        $.ajax({
            url: '/Physician/GetPhysicianByRegion',
            type: 'POST',
            data: {
                regionId: region,
            },
            success: function (result) {
                $('#transferCasePhysician').empty();
                $('#transferCasePhysician').append($('<option>', {
                    value: 0,
                    text: '-- Select Physician --',
                    selected: true,
                    disabled: true
                }));
                $.each(result, function (index, object) {

                    $('#transferCasePhysician').append($('<option>', {
                        value: object["physicianId"],
                        text: object["physicianName"]
                    }));

                });
            },
            error: function (err) {
                console.error(err);
            }
        });
    });

</script>